*{
    margin: 0;
}
.home{
background-color: black;
height: 50px;
width:100%;
display: flex;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 2px;
font-size: small;
}